body, html{
    margin:0;
    padding:0;
    width: 100vw;
    overflow-x: hidden;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1.intro {
    padding-right: 2rem;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    h1.intro {
        padding-right: 0rem;
    }

    img {
        max-width: 60%;
    }
}